---
layout: default
title: Home
---
<!-- <div class="left_column">
  {% for post in site.posts limit: 1 %}
    <h1> {{ post.title }}</h1>
    <h2 class="lightfont"><font color="777777">{{ post.subtitle }}</font></h2>
    <h3 class="lightfont"><font color="bfbfbf">{{ post.date | date_to_long_string }}</font></h3>
    {{ post.content }}
  {% endfor %}

  <button class="next" onclick="window.location.href = '/blog.html';">View More Posts</button>
</div> -->

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openWorkType(event, 'Projects')">Projects</button>
  <button class="tablinks" onclick="openWorkType(event, 'Experience')">Experience</button>
  <button class="tablinks" onclick="openWorkType(event, 'Coursework')">Coursework</button>
  <button class="tablinks" onclick="openWorkType(event, 'Resume')">Resume</button>
</div>
<hr>
<!-- Tab content -->
<div id="Projects" class="tabcontent">
  <ul class="portfolio-list">
    {% for project in site.projects %}
      <li>
        <h2><a class="lightfont" href="{{ project.url }}">{{ project.name }}</a><span class="timeframe">{{ project.time_frame }}</span> </h2>
      </li>
    {% endfor %}
  </ul>
</div>

<div id="Coursework" class="tabcontent">
  <p class="courses">
    <b>Mathematics</b><br>
    Topics in Abstract Algebra: Galois Theory<span class="timeframe">Spring 2020</span><br>
    Discrete and Convex Geometry<span class="timeframe">Spring 2019</span><br>
    Graph Theory<span class="timeframe">Spring 2019</span><br>
    Elements of Analysis I<span class="timeframe">Fall 2018</span><br>
    Abstract Algebra<span class="timeframe">Fall 2018</span><br>
    Number Theory<span class="timeframe">Spring 2018</span><br>
    Linearity II (Multivariable Calculus)<span class="timeframe">Fall 2017</span><br>
    Linearity I (Linear Algebra)<span class="timeframe">Spring 2017</span><br>
    <br>
    <b>Mechanical Engineering</b><br>
    Affordable Design and Entrepreneurship<span class="timeframe">Fall 2019 - Spring 2020</span><br>
    Design for Manufacture<span class="timeframe">Fall 2019</span><br>
    Mechanics of Solids and Structures<span class="timeframe">Spring 2018</span><br>
    Introduction to Material Science<span class="timeframe">Spring 2018</span><br>
    Thermodynamics<span class="timeframe">Spring 2018</span><br>
    Principles of Engineering<span class="timeframe">Fall 2017</span><br>
    Dynamics<span class="timeframe">Fall 2017</span><br>
    Introduction to Mechanical Prototyping<span class="timeframe">Spring 2017</span><br>
    <br>
    <b>Humanities</b><br>
    Connections Between Mathematical and Lived Reality<span class="timeframe">Spring 2020</span><br>
    Change the World: Personal Values<span class="timeframe">Spring 2020</span><br>
    Philosophy of Math<span class="timeframe">Spring 2019</span><br>
    Creative Approaches to Emerging Technologies<span class="timeframe">Fall 2018</span><br>
    Shakespeare: The Elizabethan Era<span class="timeframe">Fall 2017</span><br>
    History of Technology <span class="timeframe">Fall 2016</span><br>
    <br>
    <b>Broader Knowledge</b><br>
    Immunology<span class="timeframe">Fall 2019</span><br>
    Machine Learning<span class="timeframe">Fall 2019</span><br>
    User-Oriented Collaborative Design<span class="timeframe">Spring 2018</span><br>
    Electricity and Magnetism<span class="timeframe">Fall 2017</span><br>
    Products and Markets<span class="timeframe">Spring 2017</span><br>
    Quantum Physics<span class="timeframe">Spring 2017</span><br>
    Design Nature <span class="timeframe">Fall 2016</span><br>
    Introduction to Sensors, Instrumentation, and Measurement <span class="timeframe">Fall 2016</span><br>
    Modeling and Simulation of the Physical World <span class="timeframe">Fall 2016</span><br>
  </p>
</div>

<div id="Experience" class="tabcontent">
  <p>
    <span class="worktitle">Associate Analyst<br>
    <span class="lightfont">ITA International | Innovative Decisions Itl.</span></span><br>
    <span class="courses lightfont">Vienna, VA | July 2020 - Present</span>
    <ul>
      <li>Automated processing and preparation of data for further model ingestion using Python and Microsoft Excel</li>
      <li>Built a GUI that allows a user to customize parameters when building a dataset</li>
      <li>Created data visualizations using Tableau and Power BI to communicate key insights to clients</li>
      <li>Wrote User Guides and Use Cases, documenting updates to software packages</li>
      <li>Researched government policies, guidance, and regulations to assist with writing a business capabilities and requirements document</li>
    </ul>
  </p>
  <br>
  <p>
    <span class="worktitle">Program Instructor<br>
    <span class="lightfont">Southern University of Science and Technology | Da Vinci Challenge Camp</span></span><br>
    <span class="courses lightfont">Shenzhen, China | Summer 2019</span>
    <ul>
      <li> Provided guidance to multiple first-year undergraduate student teams through a project-based engineering camp</li>
      <li> Worked with program coordinators and other instructors to design and troubleshoot curriculum for the first iteration of the camp </li>
      <li> Gave presentations to students on Design Thinking, Collaborative Design, Rapid Prototyping, Brainstorming, and Team Management </li>
      <li> Provided translation (Mandarin / English) between international program instructors, Chinese national instructors, and students </li>
    </ul>
  </p>
  <br>
  <p>
    <span class="worktitle">Mechanical Design Engineering Intern<br>
    <span class="lightfont">Aberdeen Test Center</span></span><br>
    <span class="courses lightfont">Aberdeen Proving Grounds, Maryland | Summer 2018</span>
    <ul>
      <li> Provided assistance to design engineers by performing calculations, making and reviewing CAD drawings, and performing test-site jobs</li>
      <li> Worked with another engineering intern on various CAD designs and on various project assembly and machining tasks </li>
      <li> Participated in design reviews and attended program briefings</li>
      <li> Obtained Secret level security clearance</li>
    </ul>
  </p>
</div>

<div id="Resume" class="tabcontent">
  <img class="myImages center" id="myImg" src="/imgs/Resume_03192021.jpg">
</div>

<script>
  function openWorkType(evt, type) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(type).style.display = "block";
  evt.currentTarget.className += " active";
}
  // Get the element with id="defaultOpen" and click on it
  document.getElementsByClassName('tablinks')[0].click();
</script>
