<nav>
  <h1>
  <a href="/index.html" class="header">MIRANDA LAO</a>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
  <div class="dropdown">
    <button class="dropbtn">Words</button>
    <div class="dropdown-content">
      <a href="/blog.html">blog</a>
      <a href="/letters.html">letters to dad</a>
      <a href="#"></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Drawings</button>
    <div class="dropdown-content">
      <a href="/sketchbook.html">sketchbook</a>
      <a href="/inktober.html">inktober</a>
      <a href="#"></a>
    </div>
  </div>
  <a target="_blank" href="https://www.instagram.com/mirdbirb/"><img class="right-align" src="/imgs/instagram.png" height="15" width="15"></a>
  </h1>
</nav>
