<nav>
  <h1>
  <a href="/index.html" class="header">MIRANDA LAO</a>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
  <div class="dropdown">
    <button class="dropbtn">Writing</button>
    <div class="dropdown-content">
      <a href="/blog.html">Blog</a>
      <a href="/letters.html">Letters To Dad</a>
      <a href="#">RE:view</a>
    </div>
  </div>
  <a target="_blank" href="https://www.instagram.com/mirdbirb/"><img class="right-align" src="/imgs/instagram.png" height="15" width="15"></a>
  <a target="_blank" href="https://www.linkedin.com/in/miranda-lao-b009a4154/"><img class="right-align" src="/imgs/linkedin.png" height="15" width="15"></a>
  <a target="_top" href="mailto:himirandalao@gmail.com"><img class="right-align" src="/imgs/email.png" height="17" width="17"></a>
  </h1>
</nav>
