<nav>
  <h1>
  <a href="/index.html" class="header">MIRANDA LAO</a>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
  <!-- <div class="dropdown">
    <button class="dropbtn">Words</button>
    <div class="dropdown-content">
      <a href="/captains_log.html">currently</a>
      <a href="/blog.html">blog</a>
      <a href="/letters.html">letters to dad</a>
    </div>
  </div> -->
  <div class="dropdown">
    <button class="dropbtn">Images</button>
    <div class="dropdown-content">
      <a href="/waste-zine.html">Waste zine</a>
      <a href="/inheritance-zine.html">Inheritance zine</a>
      <a href="/misc_drawings.html">miscellaneous</a>
      <a href="/sketchbook.html">sketchbook</a>
      <a href="/inktober.html">inktober</a>
    </div>
  </div>
  <a target="_blank" href="https://www.instagram.com/mirdbirb/"><img class="right-align" src="/imgs/instagram.png" height="15" width="15"></a>
  </h1>
</nav>
