/* LINKS */
/* unvisited link and visited linke should be the same */
a:link:not(.current), a:visited:not(.current) {
  color: black;
  text-decoration: none;
}

a:hover:not(.current), a:active:not(.current) {
  color: red;
  text-decoration: none;
}
/* navbar links*/
.current {
  color: red;
  text-decoration: none;
}

/*NAVBAR*/
.header{
  font-size: 36px;
}

nav{
  overflow: hidden;
  width: 600px;
}

nav a{
  padding: 10px;
  font-size: 18px;
  font-weight: lighter;
}

.right-align {
  padding: 5px;
  padding-top: 22px;
  float: right;
}

body {
  margin: 25px 75px 0px 75px;
  font-family: Lato;
}

.main {
  padding: 10px;
}

img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-height: 300px;
  max-width: 30%;
}

img:hover {opacity: 0.7;}
