/* LINKS */
/* unvisited link and visited linke should be the same */
a:link:not(.current), a:visited:not(.current) {
  color: black;
  text-decoration: none;
}

a:hover:not(.current), a:active:not(.current) {
  color: red;
  text-decoration: none;
}
/* navbar links*/
.current {
  color: red;
  text-decoration: none;
}

/*NAVBAR*/
.header{
  font-size: 36px;
}

nav{
  overflow: hidden;
  width: auto;
  min-width: 750px;
}

nav a{
  padding: 10px;
  font-size: 18px;
  font-weight: lighter;
}

.right-align {
  padding: 5px;
  padding-top: 22px;
  float: right;
}

/*PORTFOLIO*/
.portfolio-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.courses{
  font-size: 24px;
}

.timeframe{
  font-weight: lighter;
  color: #757575;
  float: right;
}

.tab{
  overflow: hidden;
}

.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: white;
  font-family: Lato;
  text-align: left;
  font-size: 32px;
}

.tab button:hover {
  color: red;
}

.tab button.active {
  color: red;
}

.tabcontent {
  display: none;
}

/*MAIN BODY*/
body {
  margin: 25px 75px 0px 75px;
  width: auto;
  min-width: 750px;
  font-family: Lato;
}

.main {
  padding: 10px;
}

.lightfont{
  font-weight: lighter;
}

img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-height: 300px;
  max-width: 30%;
}

img:hover {opacity: 0.7;}
